@import 'variables';

.dashboard {
	h2 span {
		font-size: 1rem;
	}

	.filters {
		max-width: 45em;

		.event-sales-toggle {
			margin-left: 3em;
		}
	}

	.stats {
		margin-bottom: 3.125em; /* 50/16 */
		justify-content: space-between;

		@media (max-width: @mobile) {
			display: block;
		}

		p {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.5em; /* 24/16 */
		}

		.avg-cost p {
			color: @red;
		}
	}
}
