.eventsChart {
	margin: 2em 0;
	padding: 1em 2em;
	border: 2px solid var(--color-light-gray);
}

.chartTypeSelector {
	max-width: 12.5em; /* 200/16 */
	max-width: 25em;
	margin-bottom: 2em;
}

.chartWrapper {
	height: 21.875em; /* 350/16 */
	width: 100%;
}
