.createPromoForm {
	margin-bottom: 4em;
}

.createPromoForm input {
	margin-bottom: 0;
	margin-right: 0.5em;
	flex: 1 0.5;
}

.createPromoForm input[name='price'] {
	flex: 0 0 5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: right;
}

.selectWrap {
	flex: 1 0;
	margin-right: 0.5em;
}

.selectWrap select {
	margin-bottom: 0;
}

.createPromoForm button {
	display: block;
}
