.toggle {
	position: relative;
	width: 3rem;
	height: 1.5rem;
	background-color: @gray;
	border-radius: 1000px;
	border: 1px solid @white;
	cursor: pointer;
	user-select: none;
	transition: background-color 200ms;

	&:after {
		content: '';
		display: block;
		height: 1.5rem;
		width: 1.5rem;
		background: @white;
		border-radius: 100%;
		transition: transform 200ms;
	}

	&.on {
		background-color: @green;

		&:after {
			transform: translateX(100%);
		}
	}
}

// --------------------------------------------------
// DASHBOARD

.stats {
	margin-bottom: 3.125em; /* 50/16 */
	justify-content: space-between;

	@media (max-width: @mobile) {
		display: block;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5em; /* 24/16 */

		@media (max-width: @mobile) {
			text-align: center;
		}
	}
}

.events-chart {
	margin: 2em 0;
	padding: 1em 2em;
	border: 2px solid @light-gray;

	.chart-type-selector {
		max-width: 12.5em; /* 200/16 */
	}

	.highcharts-background {
		fill: transparent;
	}

	.highcharts-plot-background {
		fill: fade(@black, 20%);
	}

	.highcharts-yaxis-grid .highcharts-grid-line {
		stroke: fade(@white, 2%);
	}

	.highcharts-axis-line,
	.highcharts-tick {
		stroke: none;
	}

	// important to overwrite inline styles
	.highcharts-axis-labels text {
		color: @white !important;
		fill: @white !important;
		font-family: @proxima;
	}

	.highcharts-legend-item text {
		color: @white !important;
		fill: @white !important;
	}

	.highcharts-button {
		rect {
			stroke: none;
			fill: @teal;
		}

		text {
			color: @white !important;
			fill: @white !important;
			font-family: @proxima;
		}
	}
}

// END DASHBOARD
// --------------------------------------------------



// --------------------------------------------------
// TRANSACTIONS & GUEST LIST

.search {
	max-width: 25em;
}

.transactions-list {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		padding-right: 1em;
		padding-left: 1em;
		display: flex;
		justify-content: space-between;

		p {
			margin: 0;
		}

		> div {
			flex: 1 1 0;
		}

		.amount {
			flex: 0 0 5.25em; /* 100/16 */

			p {
				text-align: right;
				margin-right: 2em;
			}

			@media (max-width: @mobile) {
				display: none;
			}
		}

		.products {
			font-size: 0.75em; /* 12/16 */
		}

		.date {
			@media (max-width: @mobile) {
				display: none;
			}
		}
	}
}

.promos-list {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		padding-right: 1em;
		padding-left: 1em;
		display: flex;
		justify-content: space-between;

		p {
			margin: 0;
		}

		> div {
			flex: 1 1 0;
		}

		.date {
			@media (max-width: @mobile) {
				display: none;
			}
		}

		.status {
			flex: 0 1 115px;

			span {
				&.checked {
					background: @white;
					color: @black;
				}
			}
		}

		.link {
			flex: 0 1 115px;
		}

		.edit-promo {
			flex: 0 1 30px;

			p {
				text-align: right;
			}

			@media (max-width: @mobile) {
				display: none;
			}
		}
	}
}

.table-header {
	background: @white;
	padding: 10px;
	cursor: default;

	h5 {
		position: relative;
		padding: 0;
		margin: 0;
		user-select: none;
		color: @gray;

		&.sortable {
			cursor: pointer;
		}

		&.asc,
		&.desc {
			&:after {
				content: '';
				position: relative;
				display: inline-block;
				width: 0;
				height: 0;
				border: 4px solid transparent;
				margin-left: 5px;
				margin-right: -13px; // Makes this essentially take up no space
			}
		}

		&.sorted.asc {
			&:after {
				top: -6px;
				border-bottom-color: @black;
			}
		}

		&.sorted.desc {
			&:after {
				top: -2px;
				border-top-color: @black;
			}
		}
	}
}

.transaction,
.promo {
	padding: 0.625em; /* 10/16 */

	&:nth-child(even) {
		background: @light-gray;
	}
}

.create-promo-form {
	margin-bottom: 4em;

	input {
		margin-bottom: 0;
		margin-right: .5em;
		flex: 1 .5;

		&[name="price"] {
			flex: 0 0 5em;
			padding-left: .5em;
			padding-right: .5em;
			text-align: right;
		}
	}

	.select-wrap {
		flex: 1 0;
		margin-right: .5em;

		select {
			margin-bottom: 0;
		}
	}

	button {
		display: block;
	}
}

// END TRANSACTIONS & GUEST LIST
// --------------------------------------------------

// --------------------------------------------------
// SETTINGS

#settings-view {
	@media (max-width: @mobile) {
		.flex-row {
			display: block;
		}
	}
}

.settings-group {
	flex: 1 1 auto;

	.settings-item {
		margin-bottom: 2em;

		ul {
			margin-bottom: 0;
		}
	}

	.event-ticket {
		flex: 2 0 auto;
		margin-right: 2em;
	}

	.event-sales-toggle {
		flex: 1 1 auto;
	}

	&.tickets {
		h5 {
			margin-bottom: .5em;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.select-wrap {
			max-width: 200px;
		}
	}
}

// END SETTINGS
// --------------------------------------------------

.modal-wrap {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: fade(@teal, 80%);

	.modal {
		position: relative;
		margin: 0 auto;
		padding: 1em 2em;
		top: 50%;
		transform: translateY(-50%);
		max-width: 500px;
	}
}
