// --------------------------------------------------
// DASHBOARD

.stats {
	margin-bottom: 3.125em; /* 50/16 */
	justify-content: space-between;

	@media (max-width: @mobile) {
		display: block;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5em; /* 24/16 */

		@media (max-width: @mobile) {
			text-align: center;
		}
	}
}

.events-chart {
	margin: 2em 0;
	padding: 1em 2em;
	border: 2px solid @light-gray;

	.chart-type-selector {
		max-width: 12.5em; /* 200/16 */
	}

	.highcharts-background {
		fill: transparent;
	}

	.highcharts-plot-background {
		fill: fade(@black, 20%);
	}

	.highcharts-yaxis-grid .highcharts-grid-line {
		stroke: fade(@white, 2%);
	}

	.highcharts-axis-line,
	.highcharts-tick {
		stroke: none;
	}

	// important to overwrite inline styles
	.highcharts-axis-labels text {
		color: @white !important;
		fill: @white !important;
		font-family: @proxima;
	}

	.highcharts-legend-item text {
		color: @white !important;
		fill: @white !important;
	}

	.highcharts-button {
		rect {
			stroke: none;
			fill: @teal;
		}

		text {
			color: @white !important;
			fill: @white !important;
			font-family: @proxima;
		}
	}
}

// END DASHBOARD
// --------------------------------------------------



// --------------------------------------------------
// TRANSACTIONS & GUEST LIST

.create-promo-form {
	margin-bottom: 4em;

	input {
		margin-bottom: 0;
		margin-right: .5em;
		flex: 1 .5;

		&[name="price"] {
			flex: 0 0 5em;
			padding-left: .5em;
			padding-right: .5em;
			text-align: right;
		}
	}

	.select-wrap {
		flex: 1 0;
		margin-right: .5em;

		select {
			margin-bottom: 0;
		}
	}

	button {
		display: block;
	}
}

// END TRANSACTIONS & GUEST LIST
// --------------------------------------------------
