// --------------------------------------------------
// DASHBOARD

.events-chart {
	.highcharts-background {
		fill: transparent;
	}

	.highcharts-plot-background {
		fill: fade(@black, 20%);
	}

	.highcharts-yaxis-grid .highcharts-grid-line {
		stroke: fade(@white, 2%);
	}

	.highcharts-axis-line,
	.highcharts-tick {
		stroke: none;
	}

	// important to overwrite inline styles
	.highcharts-axis-labels text {
		color: @white !important;
		fill: @white !important;
		font-family: @proxima;
	}

	.highcharts-legend-item text {
		color: @white !important;
		fill: @white !important;
	}

	.highcharts-button {
		rect {
			stroke: none;
			fill: @teal;
		}

		text {
			color: @white !important;
			fill: @white !important;
			font-family: @proxima;
		}
	}
}

// END DASHBOARD
// --------------------------------------------------



// --------------------------------------------------
// TRANSACTIONS & GUEST LIST

.create-promo-form {
	margin-bottom: 4em;

	input {
		margin-bottom: 0;
		margin-right: .5em;
		flex: 1 .5;

		&[name="price"] {
			flex: 0 0 5em;
			padding-left: .5em;
			padding-right: .5em;
			text-align: right;
		}
	}

	.select-wrap {
		flex: 1 0;
		margin-right: .5em;

		select {
			margin-bottom: 0;
		}
	}

	button {
		display: block;
	}
}

// END TRANSACTIONS & GUEST LIST
// --------------------------------------------------
