@import 'variables';

body {
	color: @white;
	background: @gray;
	font: 100% @proxima;
	-webkit-font-smoothing: antialiased;
}

.container-1230 {
	max-width: 76.875em; /* 1230/16 */
	box-sizing: border-box;
	padding: 0 0.625em; /* 10/16 */
	margin: 0 auto;
}

.flex-row {
	display: flex;
}

.logo {
	width: 118px;
	height: 50px;
}

p {
	line-height: 1.25em;
	margin: .8em auto;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: @teal;
	text-decoration: none;
	transition: color 200ms;

	&:hover {
		color: lighten(@teal, 10%);
	}
}

h2 {
	font-size: 2.25em; /* 36/16 */
	font-weight: 900;
	margin: .5em 0;
	border-bottom: 1px solid @white;

	@media (max-width: @mobile) {
		text-align: center;
	}
}

h4 {
	font: 400 2em @league; /* 36/16 */
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: .5em 0;

	@media (max-width: @mobile) {
		text-align: center;
	}
}

h5 {
	font: 400 1.375em @league;
	color: @teal;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 auto 0.3125rem; /* 5/16 */

	@media (max-width: @mobile) {
		text-align: center;
	}
}

::placeholder {
   color: rgba(255,255,255,.4);
}

input[type="text"],
input[type="password"],
select {
	-webkit-appearance: none;
	display: block;
	height: 2.5em; /* 40/16 */
	padding: 0 2em;
	margin-bottom: 1.25em; /* 20/16 */
	box-sizing: border-box;
	width: 100%;
	background: none;
	border: 2px solid @white;
	border-radius: 0;
	font: 400 1em @proxima; /* 16/16 */
	color: @white;
	outline: 0;
	transition: box-shadow 200ms;

	@media (min-width: @mobile) {
		font-weight: 600;
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 4px 1px @white;
	}

	&:disabled {
		opacity: .7;
	}
}

select {
	cursor: pointer;
}

.select-wrap {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		display: block;
		height: 0;
		width: 0;
		right: 1em;
		top: 50%;
		transform: translateY(-25%);
		border: 5px solid transparent;
		border-top-color: @white;
		pointer-events: none;
	}
}

button {
	-webkit-appearance: none;
	background: none;
	outline: 0;
	border: 2px solid @light-gray;
	color: @light-gray;
	font: 700 0.875rem @proxima; /* 14/16 */
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: .45em 0;
	box-sizing: border-box;
	width: 10.625rem; /* 170/16 */
	cursor: pointer;
	transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

	&.white {
		border-color: @white;
		color: @white;
	}

	@media (min-width: @mobile) {
		&:hover {
			background: @light-gray;
			color: @white;

			&.white {
				background: @white;
				color: @gray;
			}
		}
	}

	&:focus,
	&:active {
		outline: 0;
	}

	&:active {
		background: @light-gray;
		color: @white;

		&.white {
			background: @white;
			color: @gray;
		}
	}
}

nav {
	max-height: 0;
	transition: max-height 300ms;
	overflow: hidden;

	@media (min-width: @mobile) {
		max-height: 1000px;
		padding-top: 5px;
	}

	ul {
		list-style: none;
		text-align: center;
		margin: 0;
		padding: 1.5625em 0 0.3125em; /* 25/16 */ /* 5/16 */
		background: @light-gray;

		@media (min-width: @mobile) {
			padding: 0;
			background: transparent;
		}
	}

	li {
		display: block;
		padding: 0;
		margin: 0 0.625rem 1.25rem; /* 10/16 */ /* 20/16 */
		text-transform: uppercase;
		font: 1.875em @league; /* 30/16 */
		letter-spacing: 2px;
		text-align: center;

		a {
			text-decoration: none;
			color: @white;

			&.active {
				border-bottom: 2px solid @white;
			}
		}

		button {
			width: auto;
			padding-right: 2em;
			padding-left: 2em;
			position: relative;
			top: -5px;
		}

		@media (min-width: @mobile) {
			margin-bottom: 0;
			display: inline-block;
			font-size: 1.5em; /* 24/16 */
		}

		@media (min-width: 960px) {
			// Space out the links the links if it's a wide monitor
			margin: 0 1.25rem; /* 20/16 */
		}
	}

	&.open {
		max-height: 31.25rem; /* 500/16 */
	}
}

header {
	padding: 1.5625em 0 0; /* 25/16 */
	margin-bottom: 2em;

	@media (min-width: @mobile) {
		margin-bottom: 4em;
	}

	.container-1230 {
		padding: 0;

		@media (min-width: @mobile) {
			position: relative;
			padding: 0 30px;
		}
	}

	.logo {
		margin: 0 auto 2em;
		top: 0;
		left: 50%;
	}

	#menu-icon {
		position: absolute;
		width: 30px;
		top: 37px;
		right: 20px;
		cursor: pointer;

		div {
			height: 4px;
			background: @white;
			margin-bottom: 4px;
			transition: all 300ms;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: @mobile) {
			display: none;
		}

		&.open {
			div {
				opacity: 0;

				&:first-child,
				&:last-child {
					opacity: 1;
				}

				&:first-child {
					transform: rotate(45deg) translate3d(5px, 6px, 0);
				}

				&:last-child {
					transform: rotate(-45deg) translate3d(5px, -6px, 0);
				}
			}

			+ nav {
				max-height: 1000px;
			}
		}
	}
}

#login {
	padding-top: 1.25em; /* 20/16 */
	max-width: 25em; /* 400/16 */
	margin: 0 auto;
	text-align: center;
}

// --------------------------------------------------
// DASHBOARD

.stats {
	margin-bottom: 3.125em; /* 50/16 */
	justify-content: space-between;

	@media (max-width: @mobile) {
		display: block;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5em; /* 24/16 */

		@media (max-width: @mobile) {
			text-align: center;
		}
	}
}

.events-chart {
	margin: 2em 0;
	padding: 1em 2em;
	// background: @light-gray;
	border: 2px solid @light-gray;

	.chart-type-selector {
		max-width: 12.5em; /* 200/16 */
	}

	.highcharts-background {
		fill: transparent;
	}

	.highcharts-plot-background {
		fill: fade(@black, 20%);
	}

	.highcharts-yaxis-grid .highcharts-grid-line {
		stroke: fade(@white, 2%);
	}

	.highcharts-axis-line,
	.highcharts-tick {
		stroke: none;
	}

	// important to overwrite inline styles
	.highcharts-axis-labels text {
		color: @white !important;
		fill: @white !important;
		font-family: @proxima;
	}

	.highcharts-legend-item text {
		color: @white !important;
		fill: @white !important;
	}

	.highcharts-button {
		rect {
			stroke: none;
			fill: @teal;
		}

		text {
			color: @white !important;
			fill: @white !important;
			font-family: @proxima;
		}
	}
}

// END DASHBOARD
// --------------------------------------------------



// --------------------------------------------------
// TRANSACTIONS & GUEST LIST

.search {
	max-width: 25em;
}

.transactions-list,
.guests-list {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		padding-right: 1em;
		padding-left: 1em;
		display: flex;
		justify-content: space-between;

		p {
			margin: 0;
		}

		> div {
			flex: 1 1 0;
		}

		.amount {
			@media (max-width: @mobile) {
				display: none;
			}
		}

		.additional-guests {
			font-size: 0.75em; /* 12/16 */
		}

		.date {
			@media (max-width: @mobile) {
				display: none;
			}
		}

		.check-in {
			span {
				display: inline-block;
				background: @teal;
				padding: .25em .5em;
				cursor: pointer;
				height: 1.2em;
				user-select: none;

				&.checked {
					background: @white;

					&:before {
						content: '';
						position: relative;
						display: inline-block;
						top: -3px;
						width: 5px;
						height: 12px;
						border: 3px solid transparent;
						transform: rotate(45deg);
						border-bottom-color: @teal;
						border-right-color: @teal;
					}
				}
			}
		}

		.confirmation {
			flex: 0 1 115px;

			p {
				text-align: right;
			}

			@media (max-width: @mobile) {
				display: none;
			}
		}

		.edit-guest {
			flex: 0 1 30px;

			p {
				text-align: right;
			}

			@media (max-width: @mobile) {
				display: none;
			}
		}
	}
}

.table-header {
	background: @white;
	padding: 10px;
	cursor: default;

	h5 {
		position: relative;
		padding: 0;
		margin: 0;
		user-select: none;
		color: @gray;

		&.sortable {
			cursor: pointer;
		}

		&.asc,
		&.desc {
			&:after {
				content: '';
				position: relative;
				display: inline-block;
				width: 0;
				height: 0;
				border: 4px solid transparent;
				margin-left: 5px;
				margin-right: -13px; // Makes this essentially take up no space
			}
		}

		&.sorted.asc {
			&:after {
				top: -6px;
				border-bottom-color: @black;
			}
		}

		&.sorted.desc {
			&:after {
				top: -2px;
				border-top-color: @black;
			}
		}
	}
}

.transaction,
.guest {
	padding: 0.625em; /* 10/16 */

	&:nth-child(even) {
		background: @light-gray;
	}
}

.comped-guest-form {
	margin-bottom: 4em;

	input {
		margin-bottom: 0;
		margin-right: .5em;
		flex: 1 .5;
	}

	.select-wrap {
		flex: 1 0;
		margin-right: .5em;

		select {
			margin-bottom: 0;
		}
	}

	button {
		display: block;
	}
}

// END TRANSACTIONS & GUEST LIST
// --------------------------------------------------

.modal-wrap {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: fade(@teal, 80%);

	.modal {
		position: relative;
		margin: 0 auto;
		padding: 1em 2em;
		top: 50%;
		transform: translateY(-50%);
		max-width: 500px;
	}
}

footer {
	padding: 3.4375em 0; /* 55/16 */
	text-align: center;

	nav {
		margin-bottom: 0.5em; /* 8/16 */
		max-height: 62.5em; /* 1000/16 */

		ul {
			background: transparent;
			display: block;
			margin-bottom: 3.125em; /* 50/16 */
			padding: 0;
		}

		a {
			color: @light-gray;
		}
	}

	#copyright {
		margin-top: 0.625rem; /* 10/16 */
		color: @light-gray;
		text-align: center;

		@media (max-width: @mobile) {
			font-size: 0.875em; /* 14/16 */
		}
	}
}
