//
// Variables
// --------------------------------------------------

@gray : #303032;
@grey : @gray;
@light-gray : #4c4c4c;
@light-grey : @light-gray;
@teal : #12a89d;
@red : #e25740;
@black : #303032;
@white : #f2f2f2;
@pink : #ff4284;
@purple : #4f005e;

// Typography
@proxima : 'proxima-nova', Helvetica, Arial, sans-serif;
@league : 'league-gothic', Helvetica, Arial, sans-serif;
@brandon : 'brandon-grotesque', Helvetica, Arial, sans-serif;

// Text Color
@text-color : #555;

// Grid
// Used with the grid mixins below
@grid-columns :          12;
@grid-column-padding :   15px; // Left and right inner padding
@grid-float-breakpoint : @mobile;

// Breakpoints
@small-mobile : 321px; // iPhone 5, smaller phones
@mobile : 600px; // Start catching big mobile phones like S4 and iPhone 6
@tablet : 769px;
@desktop : 1230px; // Use max container width here
@desktop-wide : 1400px; // Use PSD cosument bounds here, or

// Grid
.make-row() {
  // Negative margin the row out to align the content of columns
  margin-left: -@grid-column-padding;
  margin-right: -@grid-column-padding;
  // Then clear the floated columns
  .clearfix();
}

.make-column(@columns, @total-columns: @grid-columns, @breakpoint: @grid-float-breakpoint) {
  @media (min-width: @breakpoint) {
    float: left;
    // Calculate width based on number of columns available
    width: percentage(@columns / @total-columns);
  }
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Set inner padding as gutters instead of margin
  padding-left: @grid-column-padding;
  padding-right: @grid-column-padding;
  // Proper box-model (padding doesn't add to width)
  box-sizing: border-box;
}
.make-column-offset(@columns, @total-columns: @grid-columns) {
  @media (min-width: @grid-float-breakpoint) {
    margin-left: percentage(@columns / @total-columns);
  }
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
