//
// Variables
// --------------------------------------------------
@gray : #303032;
@light-gray : #4c4c4c;
@teal : #12a89d;
@green: #4dee6c;
@red : #e25740;
@black : #303032;
@white : #f2f2f2;

// Typography
@proxima : 'proxima-nova', Helvetica, Arial, sans-serif;
@league : 'league-gothic', Helvetica, Arial, sans-serif;
@brandon : 'brandon-grotesque', Helvetica, Arial, sans-serif;

// Breakpoints
@mobile : 600px; // Start catching big mobile phones like S4 and iPhone 6
